body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

/*.MathJax_Display {
  text-align: left !important;
}*/

th{
    border:1px solid #000000;
}

td.extend {
	/*min-width: 50px;*/
	background: transparent;
	border: 1px dashed #000000;
}

td.interesting {
	/*min-width: 50px;*/
	background-color: teal;
}

td {
	background-color: lightgrey;
	/*min-width: 50px;*/
	text-align: center;
	padding-left: 2px;
	padding-right: 2px;
    border:1px solid #000000;
}

td.corner-left-bottom {
	/*min-width: 50px;*/
	background: transparent;
	border: none;
}

td.corner-right-bottom {
	/*min-width: 50px;*/
	background: transparent;
	border: none;
}
